- type = "info" if local_assigns[:type].nil?
- title = "" if local_assigns[:title].nil?
- content = "content" if local_assigns[:content].nil?
- dismissible = true if local_assigns[:dismissible].nil?
- flash.each do |type, content|
  %div{:class => "alert #{alert_class_by_type(type)}  if dismissible == true alert-dismissible", :role => "alert"}
    - if dismissible == true
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    %strong= title
    = content
