#callouts.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3.pr-md-3
  -# .bg-light.col-md-6.text-center.overflow-hidden
  -#   .my-3.p-3
  -#     %h2.display-5 AWS Route 53
  -#     %p.lead How to Purchase a Domain through Route 53 for a Rails App
  -#   .video-wrap
  -#     %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/lXul_Q78d6U", :width => "560"}
  .bg-dark.col-md-6.text-center.text-white.overflow-hidden
    .my-3.py-3.row.justify-content-center
      = render 'shared/contact'
